* {
  box-sizing: border-box;
}

/* -------------nav bar--------------- */

header {
  background: #008489;
  height: 66px;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: "Candal", serif;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li:hover ul {
  display: block;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a :hover {
  background: #acacac;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #02696d;
  transition: 0.5s;
}

header * {
  color: white;
}

header .menu-toggle {
  display: none;
}

/* post-slider */
.post-slider {
  position: relative;
  border: 1px solid red;
}

.post-slider .slider-title {
  text-align: center;
  margin: 30px auto;
}

.post-slider .next {
  position: absolute;
  top: 50%;
  right: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .prev {
  position: absolute;
  top: 50%;
  left: 30px;
  font-size: 2em;
  color: #006669;
  cursor: pointer;
}

.post-slider .post-wrapper {
  width: 84%;
  height: 350px;
  margin: 0px auto;
  overflow: hidden;
  border: 1px dashed red;
}

.post-slider .post-wrapper .post {
  height: 350px;
  width: 300px;
  margin: 0px 10px;
  display: inline-block;
  background: white;
  border-radius: 5px;
  box-shadow: 1rem 1rem 1rem -1rem #a0a0a033;
}

.post-slider .post-wrapper .post .slider-image {
  width: 100%;
  height: 200px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/* ---------------------------media queries---------------------- */

@media only screen and (max-width: 750px) {
  header {
    position: relative;
  }

  header ul {
    width: 100%;
    background: #0e94a0;
    max-height: 0px;
    overflow: hidden;
  }

  .showing {
    max-height: 100em;
  }

  header ul li {
    width: 100%;
  }

  header ul li ul {
    position: static;
    display: block;
    width: 100%;
  }

  header ul li ul li a {
    padding: 10px;
    background: #0e94a0;
    color: white;
    padding-left: 50px;
  }

  header ul li ul li a:hover {
    color: #02696d;
  }

  header ul li ul li a.logout {
    color: red;
  }

  header .menu-toggle {
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.9em;
  }

  header .logo {
    margin-left: 0.5em;
  }
}

/* ----------------------- body ------------------------ */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Candal", serif;
  color: #444;
}

body {
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family: "Lora", serif;
}
