* {
  box-sizing: border-box;
}

/* -------------nav bar--------------- */

header {
  background: #008489;
  height: 66px;
}

header .logo {
  float: left;
  height: inherit;
  margin-left: 2em;
}

header .logo-text {
  margin: 9px;
  font-family: "Candal", serif;
}

header ul {
  float: right;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

header ul li {
  float: left;
  position: relative;
}

header ul li:hover ul {
  display: block;
}

header ul li ul {
  position: absolute;
  top: 66px;
  right: 0px;
  width: 180px;
  display: none;
}

header ul li ul li {
  width: 100%;
}

header ul li ul li a {
  padding: 10px;
  background: white;
  color: #444;
}

header ul li ul li a.logout {
  color: red;
}

header ul li ul li a :hover {
  background: #acacac;
}

header ul li a {
  display: block;
  padding: 21px;
  font-size: 1.1em;
  text-decoration: none;
}

header ul li a:hover {
  background: #02696d;
  transition: 0.5s;
}

header * {
  color: white;
}

header .menu-toggle {
  display: none;
}

/* ----------------------- body ------------------------ */

body {
  padding: 0px;
  margin: 0px;
  background: #f6f6f6;
  font-family: "Lora", serif;
}
